/**
 * Cart component
 */
.cart {
	.emptiness {
		font-style: italic;
	}    

	.total {
		text-align: right;
	    font-size: 1.2em;
	    font-weight: bold;
	}	

	.real-total {
		text-decoration: line-through;
		font-size: .8em;
		font-weight: normal;
	}	

	.actions {
		float: right;
	}	
}