body {
	
}

.loader {
	position: relative;
}

.loader:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: white url('../img/loader.gif') no-repeat center center;
    position: absolute;
    transition: background .75s ease-in-out;
    z-index: 1000;
}

footer {
	text-align: center;
}

.central {
	width: 95%;
	margin: auto;
}

.central:after {
	content: '';
	clear: both;
	display: block;
}

.catalog {
    float: left;
    width: 69%;
}

.cart {
    float: right;
    width: 30%;
}

.cart .emptiness {
	font-style: italic;
}

.cart .total {
	text-align: right;
}

.cart .real-total {
	text-decoration: line-through;
}

.cart .actions {
	float: right;
}

.books .book .pic {
	display: inline-block;
}

.books .book .pic img {
	height: 57px;
}

.books .book {
	display: relative;
}

.books .book .isbn {
	font-size: small;
	font-style: italic;
}

.books .book .info {
	display: inline-block;
	vertical-align: middle;
}

.books .emptiness {
	font-style: italic;
}

/**
 * Transverse
 */
.clickable {
	cursor: pointer;
}