<div class="panel panel-warning cart">
	<div class="panel-heading">
		<i class="glyphicon glyphicon-shopping-cart"></i>
		<span class="clickable" ng-click="cart.toggle()">
			Cart <i class="glyphicon" ng-class="{'glyphicon-chevron-down' : cart.toggled, 'glyphicon-chevron-up' : !cart.toggled}"></i>
		</span> 
		<span class="actions clickable">
			<i class="glyphicon glyphicon-trash" uib-tooltip="Clear cart" ng-click="cart.clear()"></i>
		</span>
	</div>
	<div ng-show="cart.toggled">
		<div class="panel-body emptiness" ng-if="cart.empty()">
			<p>Cart is empty.</p>
		</div>

		<table class="table" ng-if="!cart.empty()">
			<thead>
				<tr>
					<th>Item</th>
					<th>Quantity</th>
					<th>Price</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="product in cart.products()">
					<th>{{ product.item.title }}</th>
					<th>
						<span class="label label-default" ng-click="cart.increaseItem(product.item)">
							<i class="glyphicon glyphicon-plus clickable"></i>
						</span>
						{{ product.quantity }}
						<span class="label label-default" ng-click="cart.decreaseItem(product.item)">
							<i class="glyphicon glyphicon-minus clickable"></i>
						</span>
					</th>
					<th>{{ product.item.price }}</th>
				</tr>
			</tbody>
			<tfoot>
				<tr class="table-warning">
					<td>
						<strong>Total</strong>
					</td>
					<td colspan="3" class="total">
						{{ cart.total() | number : 2 }} &euro;
						<div class="real-total" ng-show="cart.total() != cart.realTotal()">
							{{ cart.realTotal() | number : 2 }} &euro;
						</div>
					</td>
				</tr>
			</tfoot>
		</table>
		<div class="panel-body table-warning cart-order-wrapper" ng-if="!cart.empty()">
			<a href="#/cart/order">
				<button class="btn btn-success">Order</button>
			</a>
		</div>
	</div>
</div>