<div class="panel panel-default catalog">
	<div class="panel-heading">
		Books
	</div>
	
	<div class="panal-body">
		<div class="input-group">
			<span class="input-group-addon">Search</span>
			<input type="text" class="form-control" ng-model="$ctrl.filter" ng-change="$ctrl.search()" />
		</div>
	</div>	
	
	<ul class="books list-group">
		<li class="loader list-group-item" ng-show="$ctrl.loading"></li>
		<li class="emptiness list-group-item" ng-show="$ctrl.books.length == 0">
			<p>No results.</p>
		</li>
		<li class="book list-group-item" ng-repeat="book in $ctrl.books">
			<book-item book="book" />
		</li>
	</ul>
</div>